*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*To be Box model*/
} 
/*Global*/
body{
    font-family: Merriweather,sans-serif;
    background-color: #ebf2ff;
    overflow-x: hidden;
}

.button__primary{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 50%,
        #ff512f 100%

    );
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor:pointer;
}



.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.navbar__brand{
    width: 100px;
}

.navbar__logo{
    width: 100px;
}


.container{
    width:100%;
    margin:0 auto;
    padding: 0 15px;
}

.hero__container{
    width:100%;
}

.hero__description{
    width: 100%;
    
}
.hero__image__container{
    width: 100%;
    position: relative;
}
.hero__image__bg__pattern{
    width: 100%;
    
}
.hero__image__shape{
    width: 100%;
    position: absolute;
}
.hero__image{
    width: 100%;
    position: absolute;
}



.hero_text{
    width:100%;
    font-size: 30px;
    color:#1d3557;
    margin:20px 0;
}

/*Explore menu styles*/
.explore__menu__container{
    margin-top: 50px;
}
.explore__menu__text{
    
    font-size: 30px;
    color:#1d3557;
    margin:20px 0;
    text-align: center;
}
.food__menu__card{
    width:100%;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
}

.food__image{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}



.food__menu__card__description{
    padding: 20px;
}
@media(min-width:768px){
    .container{
        max-width: 730px;
    }
    .navbar{   
        justify-content: space-between;
        padding: 10px 20px;
    }
    .navbar__brand{
        width: 150px; 
    }
    .button__primary{      
        padding: 10px 16px;
        font-size: 25px;
    }
    .hero__text{
        width:100%;
        font-size: 30px;
        margin: 10px 0px;
    }

    .navbar__logo{
        width: 100%;
    }
    .hero__container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap:10px
    }

    .explore__menu__list{
        margin-top: 30px;
        display: flex;
        gap:8px;
    }

    #pizza__card{
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .explore__menu__container{
        position: relative;
    }

    .explore__menu__gradient__bg{
        position:absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 50%,
        #ff512f 100%

    );
    z-index: -3;
    transform: skewY(-5deg);

    }
}
@media (min-width:1024px) {
    .container{
        max-width: 1150px;
        
    }
    
    .hero__text{
        width:100%;
        font-size: 45px;
      
    }
    .button__primary{      
        padding: 8px 13px;
        font-size: 20px;
    }

    .explore__menu__list{
        gap:20px;
        padding: 0px 20px;
    }
    .explore__menu__text{
        font-size: 50px;
    }
   
    
}


@media(min-width:1400px){
    .container{
        max-width: 1300px;
    }
    
}